<template>
  <div class="control" v-if="field.options && field.options.length > 0">
    <label class="checkbox is-grouped">
      <Field
        :name="field.name"
        :type="field.type"
        :label="field.label"
        v-slot="{ field: validField, errors }"
        :rules="field.validation"
        v-for="option in field.options"
        :key="option"
      >
        <input
          v-bind="validField"
          type="checkbox"
          :name="`${field.name}[${option}]`"
          @click="toggleOther"
        >
        {{ option }}

        <FormInput
          :field="otherObject"
          v-if="option === 'Other' && isOtherChecked"
          class="checkbox-other-input"
        />
        <p class="help is-danger" v-if="errors" v-html="errors[0]" />
      </Field>
    </label>
  </div>
  <Field
    v-else
    class="control"
    :name="field.name"
    :type="field.type"
    :label="field.label"
    v-slot="{ field: validField, errors }"
    :rules="field.validation"
    :value="true"
  >
    <label class="checkbox has-text-weight-bold">
      <input
        v-bind="validField"
        type="checkbox"
        :name="field.name"
        :value="true"
      >
      {{ field.label }}
    </label>
    <p class="help is-danger" v-if="errors" v-html="errors[0]" />
  </Field>
</template>

<script>
import FormInput from './Input.vue';
import { Field } from 'vee-validate';

export default {
  data() {
    return {
      isOtherChecked: false,
    };
  },
  props: {
    field: {
      type: Object,
      required: true,
    },
  },
  computed: {
    otherObject() {
      return {
        name: `${this.field.name}[other-answer]`,
        type: 'input',
        class: 'is-small is-inline',
      };
    },
  },
  methods: {
    toggleOther(e) {
      if (e.target.name === `${this.field.name}[Other]`) {
        this.isOtherChecked = e.target.checked;
      }
    },
  },
  components: {
    FormInput,
    Field,
  },
};
</script>

<style lang="scss">
.checkbox-container {
  .checkbox {
    display: block;
  }

  .checkbox-other-input { /* "other" input container */
    display: inline-flex;

    input {
      width: 20rem;
      cursor: text;
    }
  }
}
</style>
