<template>
  <Field :name="field.name" :label="field.label" v-slot="{ field: validField, errors }" class="control" :rules="field.validation">
    <div class="radio-errors">
      <Errors :field="field" :errors="errors" :value="value" />
    </div>
    <label
      v-for="option in field.options"
      :key="slugify(option)"
    >
      <input
        v-bind="validField"
        type="radio"
        class="fancy-radio"
        :name="field.name"
        v-model="value"
        :value="slugify(option)"
      >
      <div class="fancy-container" v-html="option" />
    </label>
    <p class="help is-danger">{{ errors[0] }}</p>
  </Field>
</template>

<script>
import slug from '../../lib/slug';
import Errors from '../Errors.vue';
import { Field } from 'vee-validate';

export default {
  data() {
    return {
      value: null,
    };
  },
  props: {
    field: {
      type: Object,
      required: true,
    },
  },
  methods: {
    slugify(string) {
      return slug(string);
    },
  },
  components: {
    Errors,
    Field,
  },
};
</script>

<style lang="scss">
.radio-errors {
  display: inline;
  position: relative;
  left: -1rem;
}

.fancy-container {
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem;
  transition: all 100ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  border: 1px solid hsl(0, 0%, 86%);
  position: relative;
  cursor: pointer;
}

.fancy-radio {
  display: none;

  &:checked {
    + .fancy-container {
      border: 1px solid lighten(#436436, 30%);
      background-color: lighten(#436436, 55%);
      font-weight: 800;
    }
  }

  &:hover {
    + .fancy-container {
      background-color: lighten(#436436, 45%);
    }
  }
}

</style>
