<template>
  <Field :name="field.name" :label="field.label" v-slot="{ field: validField, errors }" :rules="field.validation">
    <div class="file">
      <label class="file-label">
        <input
          v-bind="validField"
          :type="field.type"
          :ref="field.name"
          class="file-input"
          :name="field.name"
          :id="`${field.name}-field`"
          @change="updateFileName"
        >

        <span class="file-cta">
          <span class="file-icon">
            <fa icon="upload" />
          </span>
          <div class="file-label">
            Choose a file...
          </div>
        </span>

        <span class="file-name" v-html="fileName" />

      </label>
    </div>
    <p class="help is-danger" v-if="errors" v-html="errors[0]"></p>
  </Field>
</template>

<script>
import { Field } from 'vee-validate';

export default {
  props: {
    field: {
      type: Object,
    },
  },
  data() {
    return {
      uploadedFileName: null,
    };
  },
  computed: {
    fileName() {
      if (this.uploadedFileName) {
        return this.uploadedFileName;
      }
      return 'No file uploaded';
    },
  },
  methods: {
    updateFileName() {
      try {
        this.uploadedFileName = this.$refs[this.field.name].files[0].name;
      } catch {}
    },
  },
  components: {
    Field,
  },
};
</script>
