<template>
  <div class="content" v-html="field.html"></div>
</template>

<script>
export default {
  props: {
    field: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style>
.field.is-horizontal.html-container {
  width: 100%;
}
</style>
