<template>
  <Field
    :name="field.name"
    :label="field.label"
    v-slot="{ field: validField, errors }"
    :rules="field.validation"
    v-model="value"
  >
    <div :class="fieldClass">
      <input
        v-bind="validField"
        :type="field.type"
        :class="{
          'input': true,
          'is-danger': errors.length > 0,
          'is-success': !errors.length > 0 && value,
          [field.class]: field.class,
        }"
        :placeholder="field.placeholder"
        :name="field.name"
        v-model="value"
        :id="`${field.name}-field`"
        autocomplete="off"
        :readonly="field.disabled"
      />
      <Errors :field="field" :errors="errors" :value="value" />
    </div>

    <p class="help is-danger" v-if="errors" v-html="errors[0]" />
  </Field>
</template>

<script>
import { Field } from 'vee-validate';
import prepopulate from '../../mixins/prepopulate';
import Errors from '../Errors.vue';

export default {
  mixins: [prepopulate],
  props: {
    field: {
      type: Object,
    },
  },
  data() {
    return {
      value: '',
    };
  },
  computed: {
    fieldClass() {
      return {
        control: true,
        'has-icons-right': true,
        'has-icons-left': this.field.icon,
      };
    },
  },
  mounted() {
    this.prepopulate();
  },
  components: {
    Errors,
    Field,
  },
};
</script>
