<template>
  <Field type="radio" :name="field.name" v-slot="{ field: validField, errors }" class="control" :rules="field.validation">
    <div class="radio-errors">
      <Errors :field="field" :errors="errors" :value="value" />
    </div>
    <label
      class="radio"
      v-for="option in field.options"
      :key="slugify(option)"
    >
      <input
        v-bind="validField"
        type="radio"
        :name="field.name"
        v-model="value"
        :value="slugify(option)"
      >
      {{ option }}
    </label>
    <p v-if="errors" class="help is-danger">{{ errors[0] }}</p>
  </Field>
</template>

<script>
import slug from '../../lib/slug';
import Errors from '../Errors.vue';
import { Field } from 'vee-validate';

export default {
  data() {
    return {
      value: null,
    };
  },
  props: {
    field: {
      type: Object,
      required: true,
    },
  },
  methods: {
    slugify(string) {
      return slug(string);
    },
  },
  components: {
    Errors,
    Field,
  },
};
</script>

<style>
.radio-errors {
  display: inline;
  position: relative;
  left: -1rem;
}
</style>
