<template>
  <Field type="select" :name="field.name" :label="field.label" v-slot="{ field: validField, errors }" :rules="field.validation">
    <div :class="{
      select: true,
      'is-danger': (field.validation.required && validField.value === null) || errors.length > 0,
      'is-success': errors.length === 0 && validField.value !== null,
    }">
      <select
        v-bind="validField"
        :id="`${field.name}-field`"
        :name="field.name"
      >
        <option value="" disabled>Select One</option>
        <option
          v-for="option in field.options"
          :key="option"
          :value="option"
          v-html="option"
        />
      </select>
    </div>
    <p class="help is-danger" v-if="errors" v-html="errors[0]"></p>
  </Field>
</template>

<script>
import prepopulate from '../../mixins/prepopulate';
import { Field } from 'vee-validate';

export default {
  mixins: [prepopulate],
  props: {
    field: {
      type: Object,
      required: true,
    },
  },
  mounted() {
    this.prepopulate();
  },
  components: {
    Field,
  },
};
</script>

<style>
select,
.select {
  width: 100%;
}
</style>
