<template>
  <div>
    <Field :name="field.name" :label="field.label" v-slot="{ field: validField, errors }">
      <div class="slider">
        <div class="slider-validate">
          <Errors :field="field" :errors="errors" :value="value" />
        </div>
        <div class="columns slider-labels is-mobile">
          <div
            class="column"
            v-for="label in labels"
            :key="label"
            v-html="label"
          />
        </div>
        <input
          v-bind="validField"
          :id="`${field.name}-field`"
          :name="field.name"
          v-model="value"
          class="slider is-fullwidth slider-input"
          min="1"
          :max="max"
          type="range"
        >
        <div class="slider-ticks">
          <span class="slider-tick" v-for="n in max" :key="n" />
        </div>
      </div>
      <p class="help is-danger">{{ errors[0] }}</p>
    </Field>
  </div>
</template>

<script>
import Errors from '../Errors.vue';
import { Field } from 'vee-validate';

export default {
  props: {
    field: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      value: null,
    };
  },
  computed: {
    max() {
      return this.field.options.length;
    },
    labels() {
      return this.field.options.filter(option => option !== null);
    },
  },
  components: {
    Errors,
    Field,
  },
};
</script>

<style lang="scss">
@import "bulma-slider/dist/css/bulma-slider.min.css";

.slider-container {
  flex-direction: column;

  .slider-labels,
  .slider-input,
  .slider-ticks {
    margin-left: 5% !important;
    width: 90% !important;
  }

  .slider-labels {
    margin-bottom: -1.25rem !important;
    text-align: center;
    color: hsl(0, 0%, 30%);
    font-style: italic;

    .column:first-child {
      text-align: left;
    }

    .column:last-child {
      text-align: right;
    }
  }

  .slider-validate {
    position: relative;
    top: -1.5rem;
    left: -1.5rem;

    .icon {
      position: absolute;
      top: 1rem;
    }
  }

  .slider-ticks {
    display: flex;
    justify-content: space-between;
    margin-top: -9px;

    .slider-tick {
      background-color: hsl(0, 0%, 86%);
      height: 10px;
      width: 2px;
      margin: 0 7px;
    }
  }
}
</style>
