<template>
  <Field :name="field.name" :label="field.label" v-slot="{ field: validField, errors }" :rules="field.validation">
    <div :class="fieldClass">
      <textarea
        v-bind="validField"
        :type="field.type"
        :class="{
          'textarea': true,
          'is-danger': errors.length > 0,
          'is-success': !errors.length > 0 && value,
        }"
        :placeholder="field.placeholder"
        :name="field.name"
        :id="`${field.name}-field`"
        v-model="value"
        :readonly="field.disabled"
      />
      <Errors :field="field" :errors="errors" :value="value" />

    </div>
    <p class="help is-danger" v-if="errors" v-html="errors[0]"></p>
  </Field>
</template>

<script>
import prepopulate from '../../mixins/prepopulate';
import Errors from '../Errors.vue';
import { Field } from 'vee-validate';

export default {
  mixins: [prepopulate],
  data() {
    return {
      value: '',
    };
  },
  props: {
    field: {
      type: Object,
      required: true,
    },
  },
  computed: {
    fieldClass() {
      return {
        control: true,
        'has-icons-right': true,
        'has-icons-left': this.field.icon,
      };
    },
  },
  mounted() {
    this.prepopulate();
  },
  components: {
    Errors,
    Field,
  },
};
</script>
