<template>
  <div class="is-inline">
    <span class="icon is-small is-left" v-if="field.icon">
      <fa :icon="field.icon" />
    </span>
    <span
      class="icon is-small is-right has-text-danger"
      v-if="field.validation && field.validation.required && errors.length === 0 && !value"
    >
      <fa icon="asterisk" class="fa-xs" />
    </span>
    <span
      class="icon is-small is-right has-text-danger"
      v-if="errors.length > 0"
    >
      <fa icon="exclamation-triangle" />
    </span>
    <span
      class="icon is-small is-right has-text-success"
      v-if="errors.length === 0 && value"
    >
      <fa icon="check" />
    </span>
  </div>
</template>

<script>
export default {
  props: {
    field: {
      type: Object,
      required: true,
    },
    errors: {
      type: Array,
    },
    value: {
      type: String,
    },
  },
}
</script>
